<!doctype html>
<html lang="en">
  {{>headerlinks}}
  <body class="p-3 m-0 border-0 bd-example">
    {{>navbar}}

    <!--Main header -->
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!--left side div-->
            <div class="cen">

            <div class="col-md-10 col-12 main_header_left align-items-center">
                <figure class="errimg">
                  <img src="image/404error.jpg" alt="Neeraj" class="img-fluid" title="neeraj technical">
              </figure>
          
              <p>Welcome to Weather app</p>
                  <h1>{{errmsg}}</h1>
             
              <a href="/home"><button>Go Back</button></a>
            </div>
            </div>
              <!--rigth side div-->
           
        
        </div>
     </div>
  </div>

<!--footer code-->
{{>footer}}
  </body>
</html>