<!DOCTYPE html>
<html lang="en">
  {{>headerlinks}}
  <body class="p-3 m-0 border-0 bd-example">
    {{>navbar}}

    <!--Main header-->
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!--left side div-->
            <div class="col-md-6 col-12 main_header_right ">
                <figure>
                  <img src="image/me.jpg" alt="Neeraj" class="img-fluid" title="neeraj technical">
              </figure>
            </div>
              <div class="col-md-6 col-12 main_header_left align-items-cente">
              <p>Welcome to Weather app</p>
              <h1>I Am a<span class="text_clr">  Node.Js Developer </span> Beginner And Freelancer</h1>
              <a href="https://www.linkedin.com/in/neeraj-bairwa-21089a21b"><button>About Me</button></a>
            </div>
              <!--rigth side div-->
           
        
        </div>
     </div>
  </div>

<!--footer code-->
{{>footer}}
  </body>
</html>